<!DOCTYPE html>

<html lang="en-US" dir="ltr">

<head>

    <title>Express</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kevin Huang">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        * {
            box-sizing: border-box;
            cursor: default;
            font-family: Arial, sans-serif;
            margin: .5em;
        }

        ol {
            line-height: 2em;
            white-space: nowrap;
        }

        table {
            border-collapse: collapse;
            line-height: 2em;
        }

        th {
            padding: 0 2em;
            text-align: left;
            width: 6em;
        }
    </style>

</head>

<body>

    {{{body}}}

</body>

</html>